
<h1>Party Time!</h1>


<style type="text/css">

  #map-canvas { height: 500px; width: 500px; float:right;}
</style>
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6ZYTVUPqC5THPhI-QaiTF4YMl2fQfOYs&sensor=false">
</script>

<script type="text/javascript">

  google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div id="tag_cloud">
  <% tag_cloud Party.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>


<div id="map-canvas">
  
</div>

<div class="left-column">
  <h1>Listing parties</h1>

  <table>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Address</th>
      <th>Date</th>
      <th>Rating</th>
      <th>Tags</th>
      <th>Vote up or down!</th>
    </tr>

  <% @parties.each do |party| %>


      <tr id="party-id-<%= party.id %>">

      

          <td><%= link_to image_tag( party.main_image), party %></td>

          <!-- <td><%#= image_tag party.main_image %></td> -->
          <td><%#= submit_tag "Crash Party!",attend_party_path, method: :attend, data: { confirm: 'See you there!' },:remote => :true %></td>

          <td><%= button_to "Crash Party!", { :action => "attend", :id => party.id},
                    :confirm => "See You There!", :method => :attend,:remote => :true %></td>

          <td><%= link_to party.title, party %></td>
          <td><%= party.address %></td>
          <td><%= party.date.strftime("%A, %B %e"    ) %> </td>
          <td><%= pluralize party.reputation_for(:votes).to_i, "vote" %> </td>
          <td><%= raw party.tag_list.map {|t| link_to t, tag_path(t)}.join(', ') %> </td>
          <td><%= link_to "Up Vote", vote_party_path(party, type: "up"), method: "post" %> <%= link_to "Down Vote", vote_party_path(party, type: "down"), method: "post" %> </td>

          <td><%= link_to 'Edit', edit_party_path(party) %></td>
          <td><%= link_to 'Destroy', party, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </table>

  <br />

  <%= link_to 'New Party', new_party_path %>
</div>


