
<style type="text/css">

  #map-canvas { height: 500px; width: 500px; float:right;}
</style>
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6ZYTVUPqC5THPhI-QaiTF4YMl2fQfOYs&sensor=false">
</script>

<script type="text/javascript">

        $(function() {
              initialize();


          <% Party.all.each do |p| %>
             partyMarker(<%= p.latitude ? p.latitude : 0 %>, <%= p.longitude ? p.longitude : 0 %>, "<%= p.title %>");
          <% end %>
      });


</script>

<div class="left-column">

  <ul><h3> Parties near You</h1></ul>



  <% @parties.each do |party| %>


      <div id="party-id-<%= party.id %>">


        <h4 class="party-title"><%= link_to party.title, party %></h4>


          <div class="party-info">

            <div class="party-image">

              <%= link_to image_tag( party.main_image), party %>         

            </div>

            <div class="party-details">

              <%= party.address %>
              <%= party.date.strftime("%A, %B %e"    ) %> 
              <%= pluralize party.reputation_for(:votes).to_i, "vote" %>
              <%= raw party.tag_list.map {|t| link_to t, tag_path(t)}.join(', ') %> 
              <%= link_to image_tag('thumbsup.png', :alt => "thumbsup", :class => "thumb"), vote_party_path(party, type: "up"), method: "post" %> <%= link_to image_tag('thumbsdown.png', :alt => "thumbsdown", :class => "thumb"), vote_party_path(party, type: "down"), method: "post" %> 

            </div>

          </div>


      </div>

  <% end %>
  <%= link_to 'New Party', new_party_path %>
</div>

<div class="right-column">

  <div id="map-canvas">
  </div>

</div>

<div class="sidebar">
  <div id="tag_cloud">
  <% tag_cloud Party.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>

</div>
