
<div class="comment-form">
<!-- creates new comment but defaulting id to 1 -->

    <%= form_for Comment.new(:party_id => party.id), :remote => :true do |f| %>
        
            <div class="field">
                <%= f.hidden_field :party_id %>
            </div>

                <%= f.hidden_field :current_user %> 

            <div class="field">
                <%= f.text_area :body %>
            </div>

            <div class="field">
                <%= f.submit %>
            </div>
    <% end %>

</div>

