<!DOCTYPE html>
<html>
<head>
  <title>PartyCrashers</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="header">	

		<div id="user_nav">
			<%= image_tag('logo.png') %>
			<%= link_to "Home", root_path %> | <%= link_to "Create Party", new_party_path %> | <%= link_to "Search", parties_path %> | <%= link_to "About", parties_path %> | <%= link_to "Contact", parties_path %> | 

			<% if user_signed_in? %> 

				Signed in as <%= current_user.email %>.  Not you? | <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>

			<% else %>

				<%= link_to "Sign up", new_user_registration_path, :id => "sign-up" %> or <%= link_to "Sign in", parties_path, :id => "sign-in", :remote => true %>


			<% end %> |



				<%= form_tag parties_path, :id => "search-box", :method => :get do %>

					    <%= text_field_tag :search, params[:search] %>
					    <%= submit_tag "Search", :name => nil %>

				<% end %>

		  </div>
		</div>

			<div id="deviseflash">
				<p class="notice"><%= notice %></p>
	      	<p class="alert"><%= alert %></p>
	    </div>


		</div>
	</div>


  </div>


  <div id="content">
		<%= yield %>
	</div>

	<div id="footer">
		Copyright © 2013 Pry or Die. All rights reserved.
	</div>

</body>
</html>
