<!DOCTYPE html>
<html>
<head>
  <title>PartyCrashers</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="header">	

		<div id="user_nav">
			<%= link_to "Home", parties_path %> | <%= link_to "Create Party", new_party_path %> | <%= link_to "Search", parties_path %> | <%= link_to "About", parties_path %> | <%= link_to "Contact", parties_path %> | 


			<% if user_signed_in? %>
				<p> Signed in as <%= current_user.email %>.  Not you?</p>

				<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
			<% else %>
				<%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", user_session_path %>.
			<% end %> 
		</div>

		<div id="deviseflash">
			<p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
     </div>

     <div id="search-box">
		<%= form_tag parties_path, :method => :get do %>
			<p>
			    <%= text_field_tag :search, params[:search] %>
			    <%= submit_tag "Search", :name => nil %>
			</p>
		<% end %>
		</div>

  </div>

  <div id="content">
		<%= yield %>
	</div>

</body>
</html>
